rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow all reads and writes
      allow read, write: if true;
    }
  }
}
